doctype html
html
  head
    title life-commit
    style
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  body
    div.container
      h1.project-name RESPONSIVE TIMELINE
      div(id="timeline")
        each life in emojis
          div.timeline-item
            div.timeline-icon
            div.timeline-content
              h2=life.lifemoji+"  "+life.title
              p=life.message
    script
      include ../scripts/index.js